<% title t("pages.contact-us.title") %>

<h1><%= t("pages.contact-us.header") %></h1>

<div class="map">
  <iframe width="960" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Pivovarsk%C3%A1+5,+Praha,+%C4%8Cesk%C3%A1+republika&amp;aq=0&amp;oq=Pivovarska+5&amp;sll=37.0625,-95.677068&amp;sspn=40.409448,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Pivovarsk%C3%A1+597%2F5,+150+00+Praha,+%C4%8Cesk%C3%A1+republika&amp;t=m&amp;ll=50.074053,14.408655&amp;spn=0.01928,0.036564&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>

<section class="contact-details">
  <ul>
    <li><strong>Телефон:</strong> +420 777-486-548</li>
    <li><strong>Адрес:</strong>  hotel Angelis, Praha 5, ul. Pivovarská 5, st. metra Anděl</li>
    <li><strong>Эл. почта:</strong> <%= mail_to "olvitacompani@gmail.com" %></li>
  </ul>
</section>
