<% title t("pages.publications.title") %>

<h1><%= t("pages.publications.header") %></h1>
<ul class="publications-list">
  <li><%= link_to "Nechci sex", "http://olvita.wgz.cz/clanky/nechci-sex.html" %></li>
  <li><%= link_to "Práce na sobě", "http://olvita.wgz.cz/clanky/prace-na-sobe.html" %></li>
  <li><%= link_to "Něco o tělesné terapii", "http://olvita.wgz.cz/clanky/neco-o-telesne-terapii.html" %></li>
</ul>
