<%= title t("pages.trainings.title") %>

<article class="trainings">
  <div class="column">
    <p>
      В любое время каждый человек может заглянуть в интернет и получить доступ к фантастическим ресурсам 
      знаний человеческой мудрости, но огромный  набор полученной информации, как правило, не меняет жизнь людей, 
      не приносит им успеха или счастья. Информация дает лишь повод к размышлениям, но не к действиям. 
      Возможно поэтому среди современных и эффективных людей сложно найти человека, который хотя бы однажды не был 
      участником какого-либо тренинга или не имел консультации с коучем. 
    </p>
  </div>
  <div class="column">
    <p>
      Им это ясно — только активная работа с собой дает уникальную возможность адаптироваться в собственной жизни, получить для себя объемную обратную связь,
      объективно понять, как видят тебя окружающие, а главное научиться по-настоящему ценить и поддерживать себя. 
      Только такая работа может являться одновременно толчком и мотивацией к дальнейшему саморазвитию. 
      Наши тренинги создавались для того, чтобы быть такой отправной точкой, потому что, во-первых, мы продумывали конкретные техники, 
      благодаря которым это развитие возможно, а, во–вторых, мы хотим помочь каждому найти свое направление и свой ритм движения, 
      потому что не существует универсальной дороги к счастью, как и универсального счастья для всех.
    </p>
  </div>
</article>

<aside class="authors">
  <section class="author">
    <div class="name">
      <%= image_tag "olga_small.jpg" %>
      <h1>Ольга Юрьевна Железнова</h1>
    </div>
    <p>
      Ольга Железнова сама по себе является жемчужиной данного проекта. 
      Как профессионал она посвятила 20 лет жизни работе с пациентами через индивидуальную терапию, 
      но параллельно с этим ее всегда интересовала особая актуальность темы Женщины для современности.
    </p>
  </section>
</aside>

<article class="muse">
  <h1>Проект Муза</h1>
  <h2>Круглогодичная школа для женщин</h2>

  <section class="quote">
    <p>
      <span style="font-size: 400%; position: absolute; margin: -0.7em 0 0 -0.7em;">«</span>
      Никто не в силах открыть вам нечто, что не дремало бы в сумерках вашего сознания. <br />
      Учитель, прогуливающийся, со cвоими учениками в тени храма, <br />
      учит не от своего знания, а от своей веры от своей любви.
      <span style="font-size: 400%; position: absolute; margin: -0.5em 0 0 0.1em;">»</span>
    </p>
    <small><strong>Джебран Халиль Джебран</strong> (величайший ливано-американский философ 20-го века).</small>
  </section>

  <div class="column">
  <p>Название этого проекта возникло не случайно. Муза в переводе с греческого означает мыслящая.</p>
  <p>Каждая женщина по сути своей должна являться Музой, прежде всего для себя, а потом и для окружающих. Музой с неограниченным
    мощным источником вдохновения и энергии, свежести, новых идей, талантом побуждать к жизни и желанием бысть жественной, быть
    настоящей Женщиной.</p>
  <p>Чаще всего ,когда мы говорим о женственности и красоте ,мы говорим о внешних проявлениях .Мы  имеем в виду платья, кружева ,подтянутые формы, свежую кожу ,ухоженное лицо и волосы  .Очень мало Женщин  понимают ,что внешние атрибуты далеко недостаточны для ощущения себя счастливой ,что гармония приходит изнутри.</p>
  <p>Быть Женщин ой величайший шаг и постоянная работа .Обладать источником  силы и энергии ,которые кроются за этими свойствами и умение грамотно ими  управлять -это и есть искусство быть Женщиной.</p>
</div>
<div class="column">
  <p>Занятия  в школе построены так, что каждый модуль может являться самостоятельным тренингом, но в совокупности они представляют целостную систему обучения и развития женщин.</p>
  <p>В этой школе Вы являетесь активными Учителями ,потому что каждая из Вас ,обладающая своим уникальным жизненным опытом  ,передает эту мудрость остальным, восстанавливая целостную картину Мироздания…</p>
  <p>Для прохождения программы необходима удобная одежда и обувь, настрой на глубинную работу и желание  чувствовать себя женщиной.</p>
  <p>
    Все занятия разделены на 3 ступени, которые включают в себя 9 пятичасовых модулей (включая ланч):
    <ul class="stages">
      <li><strong>1 ступень. </strong>Возвращение к себе.</li>
      <li><strong>2 ступень. </strong>Я — женщина.</li>
      <li><strong>3 ступень. </strong>Быть женщиной — осознанный выбор.</li>
    </ul>
  </p>
</div>
</article>
